<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- DB 컬럼 MESSAGE_CODE → messageCode -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- NSIGHT DB Query Timeout 3초 -->
        <setting name="defaultStatementTimeout" value="3"/>
        <setting name="defaultFetchSize" value="300"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
</configuration>
